*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(47, 2, 47);
}

.logo {
  background-color: black;
}



#home:hover ul{
display: block;
position: absolute;
z-index: 1001;
  
}

#home ul li{
display: block;
position: relative;
background-color: black;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  color: #fff;

}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column-2{
width: 50%;
}

.column-2 video{
margin: auto;
  width: 100%;
}

.col-2 img{
  max-width: 80%;
  height: 450px;
  width: 750px;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #fff;

}


/*Background video header*/


.showcase
{
position: relative;
right: 0;
width: 100%;
/* min-height: 100vh; */
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #111;
transition: 0.5s;
z-index: 2;

}
.showcase.active
{
right: 300px;
}

.showcase video
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.8;
}
.overlay
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/*  background: ; */
mix-blend-mode: overlay;
}
.text
{
position: relative;
z-index: 10;


}

.text h2
{
font-size: 5em;
font-weight: 900;
color: #fff;
line-height: 1em;
text-transform: uppercase;
font-family: 'Racing Sans One', cursive;

}




.text h6
{
font-size: 2em;
font-weight: 400;
color: #fff;
line-height: 1.3em;
text-transform: uppercase;
font-family: 'Graduate', cursive;
}
.text p
{
font-size: 1.1em;
color: #fff;
margin: 20px 0;
font-weight: 400;
max-width: 700px;
}
.text a
{
display: inline-block;
font-size: 1em;
background: #fff;
padding: 10px 30px;
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
margin-top: 10px;
color: #111;
letter-spacing: 2px;
transition: 0.2s;
}
.text a:hover
{
letter-spacing: 6px;
}

.buttons {
margin: 30px 0;
}

.btn-hover {
width: 200px;
font-size: 16px;
font-weight: 600;
color: #fff;
cursor: pointer;
margin: 20px;
height: 55px;
text-align:center;
border: none;
background-size: 300% 100%;
border-radius: 50px;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

.btn-hover:focus {
outline: none;
}

.btn-hover.color-3 {
background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.header{
  background: black;
}

.header .row{
  margin-top: 70px;

}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;

}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
}

.categories{
  margin: 70px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*h4{
  color: #555;
  font-weight: normal;
}

col-4 p{
  font-size: 14px;
}*/

.col-4:hover{
  transform: translateY(-5px);
}

/*---------Customer feedback-------------*/

.testimonial{
  padding-top: 40px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777 ;
}
.rate-us{  
      display: inline-block;
      background-color: #ff523b;
      color: #fff;
      padding: 8px 30px;
      margin: 30px 0;
      border-radius: 30px;
      transition: background 0.5s;
}
.rate-us:hover{
  background: #563434;
}

/*--------------all products page ----------------*/

.row-2{
justify-content: space-between;
margin: 100px auto 50px;
}

select {
border: 1px solid #ff523b;
padding: 5px;
}

select:focus{
outline: none;
}



#products:hover ul{
display: block;
position: absolute;
}

#products ul li{
display: block;
position: relative;
}

.header.products{
  background: #f8bd79;
}

html {
scroll-behavior: smooth;
}

.inputQty {
width:25%;
height: 29px;
text-align: center;
}

.addToCart{  
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
width: 100%;
padding: 10px 33%;
  margin-top: 5px;
  border-radius: 10px;
  transition: background 0.5s;
}

.addToCart:hover{
  background: #563434;
}

.products .row .col-4 img{
  width: 237.5px;
height: 237.5px;
}

/*------------TEAMBIO------------------------------------------------------*/

.teambio .col-4{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5;
}
.teambio .col-4 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.teambio .col-4:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.teambio .col-4 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777 ;
}


/*----------------ACCOUNT----------------------------*/
.acount-page{
padding:50px 0;
}


/* ----------------- aboutus -------------------*/






/*---------footer-------------*/
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
   color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 30%;
  text-align: center;
}
.footer-col-3, .footer-col-4{
  flex-basis: 15%;
  text-align: center;
}
.brands{
  margin: 5px auto;
}
.col-5{
  width: 150px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  transition: .2s;
  filter: grayscale(100%);
}
.col-5 img:hover{
  transform: scaleX(1.2);
  filter: grayscale(0);

}




/* for button up */
/*Go up button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  outline: white solid 3px;
}

#myBtn:hover {
       color: white;
  background-color: #36454F;

}



/*first carousel */
.mySlides1 {
  display: none
}
img1 {
  vertical-align: middle;
}
.slideshow1-container11 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text1 {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}



/* parallax effect */
.parallax {
  background-image: url("https://i.pinimg.com/originals/bd/ae/1d/bdae1d98273b0f68640d6793044bd47f.png");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  text-align: center;
}


.containerlast1 {            
  width: 100%;
  height: 660px;
  
  text-align: center;
  padding: 60px 0px 0px 0px;
}